<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Accueil</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.Accueil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Identification</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.Identification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutFournisseur</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.AjoutFournisseur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheFournisseur</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.AfficheFournisseur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheProduit</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.AfficheProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfficheCommande</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.AfficheCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FournisseurFormulaire</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.FournisseurFormulaire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierFournisseur</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.ModifierFournisseur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprimerFournisseur</servlet-name>
        <servlet-class>com.toutboisLot4.servlets.SupprimerFournisseur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accueil</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Identification</servlet-name>
        <url-pattern>/Identification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutFournisseur</servlet-name>
        <url-pattern>/AjoutFournisseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheFournisseur</servlet-name>
        <url-pattern>/AfficheFournisseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheProduit</servlet-name>
        <url-pattern>/AfficheProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfficheCommande</servlet-name>
        <url-pattern>/AfficheCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FournisseurFormulaire</servlet-name>
        <url-pattern>/FournisseurFormulaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierFournisseur</servlet-name>
        <url-pattern>/ModifierFournisseur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprimerFournisseur</servlet-name>
        <url-pattern>/SupprimerFournisseur</url-pattern>
    </servlet-mapping>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>/WEB-INF/Accueil.jsp</url-pattern>
            <url-pattern>/WEB-INF/Login.jsp</url-pattern>
            <url-pattern>/WEB-INF/FormulaireFournisseur.jsp</url-pattern>
            <url-pattern>/WEB-INF/AfficherFournisseur.jsp</url-pattern>
            <url-pattern>/WEB-INF/AfficheProduit.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <include-prelude>/WEB-INF/Head.jsp</include-prelude>
            <include-coda>/WEB-INF/Footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
